.category-list,
.search-list {
    .category,
    .search-result {
        list-style-position: inside;
        list-style-type: square;
        
        a:hover {
            text-decoration: underline;
        }
    }
}